<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Great Number Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='numGameStyle.css')}}">
  </head>
  <body>
    <div class="wrapper">
      <h1>Welcome to the Great Number Game!</h1>
      <p>I am thinking of a number btween 1 and 100</p>
      <p>Take a guess!</p>
        {% if session['result'] == 'high'%}
          <div class="high">
            <h3>Too High!</h3>
          </div><!--high-->
        {% elif session['result'] == 'low'%}
          <div class="low">
            <h3>Too Low!</h3>
          </div><!--low-->
        {% elif session['result'] == 'correct'%}
          <div class="correct">
            <h3>{{session['number']}} was the number!</h3>
            <form class="" action="/reset" method="post">
              <input type="submit" name="playAgain" value="Play Again!">
            </form>
          </div><!--correct-->
        {% endif %}
        <form class="" action="/guess" method="post">
          <input type="text" name="result" value="">
          <input type="submit" name="submit" value="submit">
        </form>
        <!-- {{session['number']}} -->
    </div><!--wrapper-->

  </body>
</html>
