*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper{
  text-align: center;
  margin: 30px;
}
.building{
  border: 1px solid black;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  width: 200px;
  height: 150px;
  padding: 20px;
  margin: 10px;
}
.green{
  color: green;
}
.red{
  color: red;
}
h3{
  margin: 10px;
}
form{
  margin: 10px;
}
